body{
    margin:0;
    background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
    font-family:Arial;
    color:white;
    text-align:center;
}

h1{
    margin:20px;
}

.main{
    display:flex;
    justify-content:space-around;
    align-items:flex-start;
}

.controls{
    width:300px;
    background:#111;
    padding:20px;
    border-radius:15px;
    box-shadow:0 0 15px rgba(0,0,0,0.5);
}

input{
    width:100%;
    margin-bottom:10px;
}

button{
    width:100%;
    padding:10px;
    background:#ff3b3b;
    border:none;
    color:white;
    font-weight:bold;
    border-radius:8px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#ff0000;
}

canvas{
    background:#1c1c1c;
    border-radius:15px;
    box-shadow:0 0 20px black;
}

.info{
    margin-top:15px;
    background:#222;
    padding:10px;
    border-radius:10px;
}

