body{
    margin:0;
    font-family:Arial;
    background:linear-gradient(135deg,#141e30,#243b55);
    color:white;
    text-align:center;
}

.layout{
    display:flex;
    justify-content:space-around;
    margin-top:20px;
}

.controls{
    width:300px;
    background:#111;
    padding:20px;
    border-radius:15px;
    box-shadow:0 0 20px black;
}

input{
    width:100%;
    margin-bottom:10px;
}

button{
    width:100%;
    padding:10px;
    background:#ff2e2e;
    border:none;
    color:white;
    font-weight:bold;
    border-radius:8px;
    cursor:pointer;
}

.simArea{
    display:flex;
    flex-direction:column;
    gap:20px;
}

canvas{
    background:#1c1c1c;
    border-radius:15px;
    box-shadow:0 0 15px black;
}

.info{
    margin-top:10px;
    background:#222;
    padding:10px;
    border-radius:10px;
}

